<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${test.name}">Test Ansicht</title>
  </head>
  <body>
    <h1 th:text="${test.name}">Test Name</h1>

    <p>
      Ergebnisse werden veröffentlicht am:
      <span
        th:text="${#temporals.format(test.resultReleaseDate, 'dd.MM.yyyy HH:mm')}"
      >
      </span>
    </p>

    <form
      th:action="@{/student/test/{testId}(testId=${test.id})/question/{questionId}(questionId=${firstQuestion.id})}"
      method="get"
    >
      <button type="submit">Test starten</button>
    </form>
  </body>
</html>
