<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Test Overview</title>
  </head>
  <body>
    <ul>
      <li th:each="question : ${allQuestions}">
        <a
          th:href="@{/student/test/{testId}/question/{questionId}(testId=${test.id}, questionId=${question.id})}"
          th:text="${question.name}"
        ></a>
      </li>
    </ul>

    <div>
      <!-- question.description -->
      <h2 th:text="${currentQuestion.name}">Frage</h2>
      <p th:text="${currentQuestion.description}">Beschreibung</p>
      <!-- if currentQuestion.isMultipleChoice: show currentQuestion.options -->
      <div th:if="${currentQuestion.isMultipleChoice}">
        <ul>
          <!-- TODO: Ausgewählte Checkbox übermitteln -->
          <li th:each="${option : currentQuestion.options}">
            <input type="checkbox" />
            <button type="submit"
          </li>
        </ul>
      </div>
      <!-- else: show.currentQuestion.textfield -->
      <div th:unless="${currentQuestion.isMultipleChoice}">
        <!-- TODO: Eingetippte Antwort übermitteln -->
        <textarea th:name="answer" rows="4" cols="50"></textarea>
      </div>
    </div>
  </body>
</html>
