<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Test Overview</title>
  </head>
  <body>
    <ul>
      <li th:each="question : ${allQuestions}">
        <a
          th:href="@{/student/test/{testId}/question/{questionId}(testId=${test.id}, questionId=${question.id})}"
          th:text="${question.name}"
        ></a>
      </li>
    </ul>

    <!-- TODO: Aktuelle Frage anzeigen / rendern -->
    <div>
      <!-- question.description -->
      <!-- if question.isMultipleChoice: show question.options -->
      <!-- else: show.question.textfield -->
    </div>
  </body>
</html>
