<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="{test.name}">Test Ansicht</title>
  </head>
  <body>
    <h1 th:text="${test.name}">Test Name</h1>

    <p th:text="${currentQuestion}">Aktuelle Frage</p>

    <ul>
      <li th:each="question : ${test.questions}">
        <a th:href="">
          <!-- Unterscheidung zwischen (un-)korrigierbaren Fragen -->
          <span
            th:if="${question.forCorrector()}"
            th:text="${question.name}"
            style="font-weight: bold; font-style: italic"
          ></span>
          <span
            th:unless="${question.forCorrector()}"
            th:text="${question.name}"
          ></span>
          <!-- Aktuelle Frage, die gerade angezeigt wird -->
          <span th:if=""
        </a>
      </li>
    </ul>
  </body>
</html>
